.head {
	border-top: 2px solid #fa7d3c;
	height: 48px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: #fff;
	font-size: 0;

}
.bk-img {
	display: inline-block;
	width: 176px;
	height: 48px;
}
.bk-img img {
	height: 48px;
	width: 183px;
}
.search {
	width: 445px;
	height: 18px;
	margin-top: 9px;
	padding: 4px 13px 4px 10px ;
	border: 1px solid #ccc;
	background-color: #f2f2f5;
	font-size: 0;
}
.search input {
	width: 425px;
	height: 20px;
	line-height: 20px;
	outline: none;
	background-color: #f2f2f5;
	color: #808080;
	border: none;
}
.search a {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url(../img/search-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	vertical-align: top;
}
.search a:hover {
	background-image: url(../img/search-hover.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-ul {
	width: 428px;
	height: 26px;
	padding: 11px 0 11px 81px;
}
.head-ul ul {
	width: 430px;
	height: 26px;
}
.head-ul ul li {
	margin-left: 26px;
	width: 54px;
	height: 26px;
	display: inline-block;
	font-size: 0;
}
.head-ul-a {
	display: inline-block;
	width: 28px;
	height: 26px;
	padding-left: 26px;
	color: #333;
	font-size: 14px;
	line-height: 26px;
}
.head-ul-al {
	display: inline-block;
	width: 45px;
	height: 26px;
	padding-left: 26px;
	color: #333;
	font-size: 14px;
	line-height: 26px;
}
.head-ul-abks {
	background-image: url(../img/video-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-ul-abkf {
	background-image: url(../img/find-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-ul-abkt {
	background-image: url(../img/game-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-ul-abkfo {
	background-image: url(../img/person-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-ul-a:hover {
	color: #eb7350;
}
.head-ul-af {
	display: inline-block;
	width: 28px;
	height: 26px;
	padding-left: 26px;
	color: #fa7d3c;
	font-size: 14px;
	line-height: 26px;
	background-image: url(../img/index-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-logo {
	height: 24px;
	width: 130px;
	margin: 12px 0px 12px 20px;
	border-left: 1px solid #d9d9d9;
	font-size: 0;
}
.head-logo a {
	display: inline-block;
	width: 20px;
	height: 24px;
	margin-left: 21px;
}

.head-logo-af {
	background-image: url(../img/mail-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-logo-as {
	background-image: url(../img/setting-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.head-logo-at {
	background-image: url(../img/write-icon.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.all {
	background-color: #b4daf0;
	width: 100%;
	height: 10000px;
}
.comment {
	width: 1000px;
	height: 10000px;
	padding-top: 16px;
	margin: 50px auto 0;
	background-color: rgba(70,149,194,0.3);
}
.comment-left {
	width: 150px;
}
.comment-middle {
	width: 600px;
	margin-right: 10px;
}
.comment-right {
	width: 230px;
	margin-right: 10px;
}
.list-f {
	height: 102px;
	width: 100%;
	padding-bottom: 11px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.list-f li {
	width: 100%;
	height: 34px;
	font-size: 0;
}
.list-f li a {
	display: inline-block;
	width: 135px;
	height:34px;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding-left: 15px;
}
.list-f li a:hover {
	background-color: rgba(255,255,255,0.2);
}
.list-s {
	height: 68px;
	width: 100%;
	padding-bottom: 11px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.list-s li {
	width: 100%;
	height: 34px;
	font-size: 0;
}
.list-s li a {
	display: inline-block;
	width: 118px;
	height:34px;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding-left: 32px;
}
.list-s li a:hover {
	background-color: rgba(255,255,255,0.2);
}
.list-t {
	height: 306px;
	width: 100%;
	padding-bottom: 11px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.list-t li {
	width: 100%;
	height: 34px;
	font-size: 0;
}
.list-t li a {
	display: inline-block;
	width: 118px;
	height:34px;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding-left: 32px;
}
.list-t li a:hover {
	background-color: rgba(255,255,255,0.2);
}
.hot-icon {
	background-image: url(../img/hot-icon.jpg);
	background-position: 15px center;
	background-repeat: no-repeat;
}
.leftVideo-icon {
	background-image: url(../img/leftVideo-icon.jpg);
	background-position: 15px center;
	background-repeat: no-repeat;
}
.new-icon {
	background-image: url(../img/new-icon.jpg);
	background-position: 15px center;
	background-repeat: no-repeat;
}
.friend-icon {
	background-image: url(../img/friend-icon.jpg);
	background-position: 15px center;
	background-repeat: no-repeat;
}
.special-icon {
	background-image: url(../img/special-icon.jpg);
	background-position: 13px center;
	background-repeat: no-repeat;
}
.own-icon {
	background-image: url(../img/own-icon.jpg);
	background-position: 10px center;
	background-repeat: no-repeat;
}
.position {
	position: relative;
}
.dot-icon {
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	height: 4px;
	width: 4px;
	border-radius: 4px;
	position: absolute;
	top: 13px;
	left: 19px; 
}
.another-dot {
	border: 1px solid #fa7d3c;
	background-color: #fa7d3c;
	height: 2px;
	width: 2px;
	border-radius: 2px;
	position: absolute;
	top: 12px;
	right: 8px; 
}
.new-dot {
	border: 1px solid #fa7d3c;
	background-color: #fa7d3c;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 13px;
	height: 13px;
	width: 18px;
	border-radius: 2px;
	position: absolute;
	top: 10px;
	right: 10px; 
}
.settingS-icon {
	height: 22px;
	width: 14px;
	top: 69px;
	right: 10px;
	position: absolute;
	background-image: url(../img/settingS-icon.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}
.middle-text {
	width: 600px;
	height: 165px;
	background-color: #fff;
	border-radius: 2px;
}
.text-f {
	width: 580px;
	height: 140px;
	padding: 15px 10px 10px 10px;
}
.text-h {
	height: 21px;
	width: 100%;
}
.text-hp {
	width: 200px;
	color: #1b7fb6;
	font-size: 18px;
	font-family: "WBswficon";

}
.text-a {
	height: 21px;
	padding-top: 6px;
	font-size: 0;
}
.text-h-al {
	display: inline-block;
	height: 15px;
	font-size: 12px;
	color: #eb7350;
	margin-right: 12px;
}
.text-h-ar {
	vertical-align: top;
	display: inline-block;
	height: 15px;
	font-size: 12px;
	color: #eb7350;
}
.text-h textarea {
	width: 580px;
	height: 80px;
	margin-top: 4px;
	outline: none;
	border-color: #cccccc;

}